@font-face {
	font-family: Raleway_Regular;
	src: url('fonts/Raleway-Regular.ttf');
}
@font-face {
	font-family: Raleway_Light;
	src: url('fonts/Raleway-Light.ttf');
}

/*blue-background: E6EFF7*/

/* TRANSITIONS */

.transition-enter {
  	opacity: 0.01;
}

.transition-enter.transition-enter-active {
  	opacity: 1;
  	transition: 200ms;	
}

.transition-leave {
	cursor: default;
  	opacity: 1;
}

.transition-leave.transition-leave-active {
  	opacity: 0.01;
  	transition: 200ms;
}

.nav-transition-enter {
	transform: translate(0, -100%);
}

.nav-transition-enter.nav-transition-enter-active {
	transform: translate(0%);
	transition: transform 350ms ease-in-out;
}

.nav-transition-leave {
	transform: translate(0%);
}

.nav-transition-leave.nav-transition-leave-active {
	transform: translate(0, -100%);
	transition: transform 350ms ease-in-out;
}

.blog-transition-enter {
  	opacity: 0.01;
}

.blog-transition-enter.blog-transition-enter-active {
  	opacity: 0.01;
  	transition: 200ms;
}

.blog-transition-leave {
	cursor: default;
  	opacity: 1;
}

.blog-transition-leave.blog-transition-leave-active {
  	opacity: 0.01;
  	transition: 200ms;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #FFF;
}

.titleContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap:wrap;
	flex-direction:column;
}

.banner {
	z-index: 9999;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	display: flex;
	font-family: Raleway;
	color: #4F6170;
}

.banner h1 {
	font-size: 150px;
	font-weight: 400;
}

.banner h4 {
	font-size: 40px;
	font-weight: 400;
	padding-right: 2%;
	padding-bottom: 4%;
}

/*
#short-tag {
	display: none;
}

#long-tag {
	display: block;
}
*/

.home-nav {
	z-index: 9999;
	padding: 0px 12px 0px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
	align-self: flex-end;
}

.home-nav ul {
	margin: auto;
}

.home-nav li {
	font-size: 25px;
	color: #4F6170;	
	font-family: Raleway;	
	display: inline;
	text-decoration: none;
	padding: 0px 0px 2px 0px;
	color: #4F6170;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	border-bottom: 1.25px solid transparent;
}

.home-nav li:hover {
	cursor: pointer;
	border-bottom: 1.25px solid #4F6170;
}

#home-resume {
	text-align: center;
	display: flex-wrap;
	width: 30%;
	line-height: 2.0;
	border: 1px solid #4F6170;
	color: #4F6170;
	font-family: Raleway;
	font-size: 24px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	font-weight: bold;
}

#home-resume:hover {
	cursor: pointer;
	color: white;
	background-color: #D7B3C1;
}

.jelly {
	width: 18%;
	height: auto;
	position: absolute;
	top: 20%;
	left: 18%;
}

.nav-container {
	width: 100%;
}

.nav-bar {
	color: #4F6170;	
	z-index: 9999;
	font-family: Raleway;	
	top: 0%;
	width: 100%;
	position: absolute;
	height: 10%;
	background-color: #FFF;
	box-shadow: 0px -1px 10px #D7B3C1;
	display: flex;	
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.name {
	display: flex;
	margin-left: 2%;
	font-size: 22px;	
}

.nav-items {
	box-sizing: border-box;
	margin-right: 2%;
	display: flex;
	width: 30%;	
	justify-content: space-between;
	right: 5%;
}

.nav-items li {
	font-family: Raleway;
	font-size: 22px;
	display: inline;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	border-bottom: 1.25px solid transparent;	
}

.nav-items li:hover {
	cursor: pointer;
	border-bottom: 1.25px solid #4F6170;
}

#nav-resume {
	font-weight: bold;
}

.about-div {
	width: 100%;
	height: 90%;
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -58%);
}

.about {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.bio {
	color: #4F6170;
	font-family: Raleway;
	font-size: 26px;
	width: 33%;
	top: 18%;
	align-items: left;
	line-height: 1.3;
	margin-left: 15%;
}

.bio br {
	line-height: 1.3;
}

.icons {
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	font-size: 36px;
}

.icons a {
	color: #4F6170;
}

.icons a:visited {
	color: #4F6170;
}

.icons i:hover {
	color: #4F6170;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.icons i:hover {
	color: #D7B3C1;
	cursor: pointer;
}

.head {
	border-radius: 50%;
	width: 25%;
	height: auto;
	position: absolute;
	align-content: center;
	right: 18%;
	box-shadow: 0px 2px 6px #D7B3C1;
}

.project-div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	overflow-y: scroll;
}

.projects {
	text-align: center;
	color: #4F6170;
	font-family: Raleway;
	font-size: 24px;
	width: 76vw;
	margin-left: 12vw;
	margin-right: 12vw;
	margin-top: 12vh;
	flex-direction: column;
}

.projects-row {
	padding-top: 2.0%;
	padding-bottom: 2.0%;
	display: flex;
}

.project-square {
	padding: 0 30px 0 30px;
	width: 33%;
}

.project-hover {
	position: relative;
	width: 100%;
}

.project-preview {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s ease;
	background-color: rgba(0, 0, 0, 0.6);
}

.project-hover:hover {
	cursor: pointer;
}

.project-hover:hover .overlay {
	opacity: 1;
}

.text {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	width: 85%;
}

.tools {
	font-style: italic;
	font-size: 17px;
}

.project-description {
	margin-top: 4%;
}

/* Media Queries */

/*Home*/

@media only screen and (max-width : 1200px) {

	.jelly {
		width: 22%;
		top: 20%;
		left: 12%;
	}

	.nav-items {
		margin-right: 2%;
		width: 45%;	
		right: 5%;
	}

	.bio {
		font-size: 23px;
		width: 35%;
		top: 20%;
		margin-left: 12%;
	}

	.icons {
		width: 35%;
		margin-top: 5%;
		font-size: 28px;
	}

	.head {
		border-radius: 50%;
		width: 28%;
		right: 16%;
	}

	.projects {
		font-size: 22px;
		margin-top: 16vh;
	}

	.projects-row {
		padding-top: 2.2%;
		padding-bottom: 2.2%;
	}

	.project-square {
		padding: 0 20px 0 20px;
		width: 100%;
	}

	.text {
		font-size: 20px;
	}

	.project-description {
		margin-top: 4%;
	}

}

@media only screen and (max-width : 1000px) {

	.bio {
		width: 38%;
		top: 24%;
	}

	.icons {
		width: 45%;
		margin-top: 7%;
	}

	.head {
		border-radius: 50%;
		width: 34%;
		right: 12%;
	}

	.nav-items {
		width: 50%;
	}

	.projects {
		width: 50%;
		margin-left: 20%;
		left: 3%;
		top: 15%;
		position: absolute;
		margin-top: 8vh;
	}

	.projects-row {
		width: 100%;
		flex-direction: column;
	}

	.project-description {
		font-size: 25px;
	}

	.project-square {
		width: 100%;
		padding-bottom: 5%;
		padding-top: 5%;
	}

}

@media only screen and (max-width : 800px) {

	.banner h1 {
		font-size: 120px;
	}

	.home-nav {
		width: 70%;
	}

	.jelly {
		width: 25%;
		top: 20%;
		left: 12%;
	}

	.bio {
		font-size: 20px;
		width: 44%;
		top: 38%;
		margin-left: 5%;
	}

	.icons {
		width: 48%;
		margin-top: 7%;
		font-size: 28px;
	}

	.head {
		border-radius: 50%;
		width: 40%;
		right: 5%;
	}

	.projects {
		font-size: 21px;
		width: 50%;
		margin-left: 20%;
		left: -5%;
		top: 15%;
		margin-top: 2vh;
	}

	.project-square {
		width: 120%;
		padding-bottom: 5%;
		padding-top: 5%;
	}

	.project-description {
		font-size: 22px;
	}

}

@media only screen and (max-width : 650px) {

	.banner h1 {
		font-size: 80px;
	}

	.banner h4 {
		font-size: 28px;
		font-weight: 400;
		padding-right: 1%;
		padding-bottom: 4%;
	}

	.home-nav {
		width: 80%;
	}

	.home-nav li {
		font-size: 20px;
	}

	#home-resume {
		font-size: 20px;
	}

	.jelly {
		width: 35%;
		top: 22%;
		left: 4%;
	}

	.name {
		display: none;
	}

	.nav-items {
		width: 100%;	
		right: 5%;
		justify-content: space-around;
	}

	.about {
		flex-direction: column-reverse;
		justify-content: center;
		margin-top: 10%;
	}

	.bio {
		margin-left: 0%;
		font-size: 18px;
		width: 70%;
		bottom: 5%;
		align-items: left;
		line-height: 1.3;
	}

	.icons {
		width: 48%;
		display: flex;
		justify-content: space-between;
		margin-top: 7%;
		font-size: 24px;
	}

	.head {
		margin-left: 8%;
		margin-bottom: 4%;
		border-radius: 50%;
		width: 36%;
		height: auto;
		position: relative;
	}

	.tools {
		font-style: italic;
		font-size: 15px;
	}

}

@media only screen and (max-width : 400px) {

	.banner h1 {
		font-size: 70px;
	}

	.home-nav {
		width: 90%;
	}

	.home-nav li {
		font-size: 18px;
	}

	#home-resume {
		font-size: 18px;
	}

	.jelly {
		width: 38%;
		top: 28%;
		left: 2%;
	}

	.nav-items li {
		font-size: 18px;
	}

	.about {
		margin-top: 14%;
	}

	.bio {
		width: 90%;
	}

	.icons {
		width: 48%;
		margin-top: 6%;
		font-size: 24px;
	}

	.head {
		margin-left: 8%;
		margin-bottom: 6%;
		border-radius: 50%;
		width: 60%;
	}

	.projects {
		font-size: 21px;
		width: 50%;
		margin-left: 20%;
		left: -8.5%;
		top: 15%;
	}

	.project-square {
		width: 120%;
		padding-bottom: 5%;
		padding-top: 5%;
	}

	.text {
		font-size: 14px;
	}

	.tools {
		font-size: 11px;
	}

}